body,html {
    height: 100%;
    margin: 0%;
    scroll-behavior: smooth;
}

.nav-link {
    font-size: 15pt;
    margin-left: 2vh;
    text-transform: uppercase;
    margin-right: 2vh;
    font-family: Raleway;
}
.active {
    border-bottom: 1.5px solid #000000;
}
.active:hover {
    border-bottom: none;
}
.navbar {
    padding-top: 2vh;
    padding-left: 11vh;
   /* background-color: transparent; */
}
.navbar.scrolled {
    background-color: #ffffff;
}
ul.navbar-nav {
    text-align: center  ;
}
.nav-link:hover {
    border-bottom: 1.5px solid #000000;
}
/* BACKGROUND*/
#container_infos_title {
    margin-bottom: 10vh;
}
.bg {
     height: 100%;
     width: 50vw;
     float: right;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }
#home-bg{
    background-image: url("img/senjuti-kundu-413243-unsplash.jpg");
}

#infos-bg {
    background-image: url("img/gabby-orcutt-74607-unsplash.jpg");
}
#about-bg {
     background-image: url("img/daiga-ellaby-354484-unsplash.jpg");
}
#about {
    margin-bottom: 10vh;
}
/*TEXT */
h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
}
#text-home {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13pt;
    margin-right: 8vh;
    margin-top: 3vh;
    margin-bottom: 0vh;
}
#title_home {
    margin-top: 18vh;
    font-size: 30pt;
}
#title_infos, #title_about {
    margin-top: 55vh;
    font-size: 100pt;
    text-transform: uppercase;
    margin-bottom: 30%;
}
#bekleidung_title {
    letter-spacing: 0pt;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
#kosten {
    margin-top: 10vh;
    padding: 0;
    margin-bottom: 10vh;
}
.untertitel_1 {
    margin-bottom: 10vh;
    margin-top: 10vh;
}
.untertitel_2 {
    margin-bottom: 10vh;
    margin-top: 30vh;
}
.unterliste {
    list-style: none;
}
/* PARALLAX*/
#plx {
    background-image: url("img/daniel-peters-156464-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}
#plx-2 {
    background-image: url("img/imat-bagja-gumilar-518288-unsplash (1).jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}
#plx-text1, #plx-text2 {
    color: white;
    font-size: 80pt;
    text-transform: uppercase;
}
/* ICONS*/
img {
    width: inherit;
}
.lauftext {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13pt;
}
/* GOOGLE MAP*/
.map-container {
    height: 60vh;
    margin-bottom: 10vh;
    box-shadow: 0px 0px 10px #2E2E2E
}
/* FOOTER*/
.page-footer {
    color: white;
    background-color: #2E2E2E;
}
#img_footer {
    height: 70px;
    width: 70px;
}
/* CARDS */
.row.justify-content-around {
    margin-left: 4%;
    margin-right: 4%;
}
#Sandra {
    object-fit: cover;
}
/*FORM*/
.main-formular{
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 10%;
}
/*Gallery */
#gallery_titel {
    margin-top: 35vh;
}
#gallery_content {
    margin-top: 12vh;
}
.gallerytitel {
    font-family: Raleway, sans-serif;
    font-size: 25pt;
    font-weight: normal;
}
/*Scroll to Top*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 100px; /* Place the button at the bottom of the page */
    right: 50px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: transparent; /* Set a background color */
    color: #2E2E2E; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: whitesmoke; /* Add a dark-grey background on hover */
}
/*RESPONSIVE */
    @media only screen and (max-width:1100px ) {
        #title_home {
            color: #1c7430;
            font-size: 2rem;
        }
        .bg {
            height: 35vh    ;
            width: 100%;
        }
        #title_about,#title_infos {
            font-size: 5rem;
            margin-top: 25vh;
        }
        .main-formular {
            padding-right: 10%;
            padding-left: 10%;
        }
        .col-6.col-sm-3 {
            padding-left: 1%;
            padding-right: 1%;
        }
        .navbar-collapse {
            background-color: #ffffff;
        }


    }
